<!DOCTYPE html>
<html>
<head>
  <title>arundhati</title>

  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <main>
    {% block content %}
    {% endblock content %}
  </main>

  {% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{url_for('static', filename='app.js')}}"></script>
  {% endblock js %}
</body>
</html>
